body {
    background-color: #333333;
}

.article {
    background-color: #ffffff;
    padding: 2rem;
    margin: 0 auto;
    max-width: 1114px;
    border-radius: 7px;
}

.search--form {
    /* padding-bottom: 103px; */
    margin-top: 16px;
}

.search--input {
    /* width: calc(100% * 55 ); */
    padding: 10px 16px 10px 16px;
    border-color: rgba(0, 0, 0, 0.2);
}

.search--form > .city-name {
    width: 100%;
    border-radius: 7px;
    margin-bottom: 1rem;
}

.search--form > .guests {
    width: 87%;
    border-radius: 7px;
}

.hit--button {
    width: 100px;
    margin: auto;
    color: #ffffff;
    height: 40px;
    border-color: rgba(0, 0, 0, 0.2);
    background-color: #EB5757;
    border-radius: 7px;
    margin-top: 24%;
}

/* ----------- */
.stays--container {
    margin-top: 35px;
}

.stays--heading {
    display: flex;
    justify-content: space-between;
}

.text--heading {
    margin: 0;
    font-size: 18px;
}

.stays--list {
    list-style: none;
    padding: 0;
}

.stays--list-item {
    margin-bottom: 28px;
}

.stays--photo {
    width: 100%;
    border-radius: 24px;
    height: 239px;
}

.stays--desc {
    display: flex;
    justify-content: space-between;
}

.supper-host {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #4F4F4F;
    border: 1px solid #4F4F4F;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 2px;
}

.type {
    font-size: 14px;
    line-height: 17px;
    color: #828282;
}

.rating {
    padding-left: 2rem;
    background-image: url('./svg/starIcon.svg');
    background-position: 10%;
    background-repeat: no-repeat;
    background-size: 15px;
}

/* ----------- */
.modal {
    display: flex;
    /* justify-content: center; */
    box-sizing: border-box;
    align-items: center;
}

.button--search {
    background-color: #ffffff;
    height: 34px;
    border-color: rgba(0, 0, 0, 0.2);
}


.search--button {
    color: transparent;
    border-color: rgba(0, 0, 0, 0.2);
    background-image: url('./svg/searchIcon.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 25px;
    background-color: transparent;
    height: 34px;
}

/* Popup */
.popup-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }
   
  .box {
    position: relative;
    max-width: 1114px;
    margin: auto;
    margin-top: 0;
    padding-bottom: 1rem;
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
  }
   
  .close-icon {
    content: 'x';
    cursor: pointer;
    position: fixed;
    right: 2%;
    top: 4px;
    width: 26px;
    text-align: center;
    border: 1px solid hsl(0deg 0% 60%);
  }

@media(min-width: 620px) {
    .headeing-and-searchForm {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .search--form {
       align-items: center;
       display: flex;
       padding-bottom: 11%;
    } 

    .search--input {
        padding-top: 0;
        padding-bottom: 0;
        height: 30px;
    }

    .search--form > .city-name {
        height: 34px;
        border: 2px solid rgba(0, 0, 0, 0.2);
        margin-bottom: 0;
    }

    .search--button {
        height: 34px;
    }

    .button--wrap {
        width: 100%;
        border: 2px solid rgba(0, 0, 0, 0.2);
        border-radius: 7px;
        display: flex;
        justify-content: center;
    }

    .hit--button {
        height: 34px;
        margin: 0;
        align-self: center;
    }

    .stays--list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .stays--list-item {
        flex-basis: 30%;
        align-items: baseline;
    }

    .close-icon {
        right: 8%;
    }
}
